---
Language: Cpp
BasedOnStyle:  Google
SpacesBeforeTrailingComments: 3
ColumnLimit: 99
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: InlineOnly
IndentWidth: 4
AlignConsecutiveMacros: Consecutive
